body {
background-color: #02f71b;
color: white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #0f1a03;
color: white;
font-family: "Bai Jamjuree", sans-serif;
}