body {
background-color: #07420d;
color: white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #458006;
color: white;
font-family: "Bai Jamjuree", sans-serif;
}